.about-me {
  width: 100%;
  max-width: 960px;

  @media (max-width: 799px) {
    margin-top: 1.5em;
  }
  @media (min-width: 800px) {
    margin-top: 3em;
  }
}

.about-me__heading {
  margin-bottom: .333em;
  color: var(--color-brand-4);
}

.about-me__copy {
  color: var(--color-brand-4);

  @media (max-width: 1023px) {
    &:last-of-type {
      margin-top: .444em;
    }
  }
}