.mountain-svg {
  position: absolute;
  bottom: -6px;

  @media (max-width: 559px) {
    left: 3px;
  }
  @media (min-width: 560px) {
    left: -5px;
  }
}

.mountain-svg__first,
.mountain-svg__second,
.mountain-svg__third {
  position: relative;

  @media (max-width: 559px) {
    width: 64px;
    height: 64px;
  }
  @media (min-width: 560px) {
    width: 86px;
    height: 86px;
  }
}

.mountain-svg__first {
  @media (max-width: 559px) {
    left: 0;
  }
  @media (min-width: 560px) {
    left: 0;
  }
}

.mountain-svg__second {
  @media (max-width: 559px) {
    left: -12px;
  }
  @media (min-width: 560px) {
    left: -16px;
  }
}

.mountain-svg__third {
  @media (max-width: 559px) {
    left: -24px;
  }
  @media (min-width: 560px) {
    left: -28px;
  }
}

.mountain-svg__bounce {
  animation: bounce cubic-bezier(0.63, 0.23, 0.38, 0.91) 3s;
  animation-delay: 3s;
}
.mountain-svg__bounce-2 {
  animation: bounce cubic-bezier(0.68, 0.28, 0.49, 0.76) 4s;
}
.mountain-svg__bounce-3 {
  animation: bounce cubic-bezier(0.68, 0.28, 0.49, 0.76) 4s;
  animation-delay: 2s;
}
.mountain-svg__bounce-4 {
  animation: bounce cubic-bezier(0.68, 0.28, 0.49, 0.76) 4s;
  animation-delay: 4s;
}
.mountain-svg__bounce,
.mountain-svg__bounce-2,
.mountain-svg__bounce-3,
.mountain-svg__bounce-4 {
  animation-iteration-count: infinite;
}
@keyframes bounce {
  0% {
  transform: translateY(0);
  }
  30% {
  transform: translateY(1px);
  }
  60% {
    transform: translateY(-1px);
  }
  100% {
  transform: translateY(0);
  }
}