.socials {
  display: flex;
  align-self: flex-end;

  @media (max-width: 569px) {
    margin-top: 8px;
  }
  @media (min-width: 560px) {
    margin-top: 16px;
  }
}

.socials__link {
  padding: 8px;
  fill: var(--color-brand-4);

  &:hover,
  &:focus {
    fill: var(--color-link);
  }
}

.socials__social {
  width: 24px;
  height: 24px;
  fill: inherit;
}